@import "reset";
@import "variables";
@import "fonts";
@import "mixins";
@import "mediaquery";

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: $black;
  color: $white;
}

.btn {
  display: inline-block;
  text-decoration: none;
  border: 2px solid $primary;
  background: $primary;
  color: $black;
  font-family: 'Teko', sans-serif;
  font-size: 24px;
  margin: 20px 0;
  border-radius: 10px;
  padding: 10px 30px;
  box-sizing: border-box;
  cursor: pointer;
  &:hover {
    background: transparent;
    color: $white;
  }
}

.page-enter-active, .page-leave-active {
  transform: translateY(0);
  transition: opacity 0.5s, transform 0.75s ease-out;
}
.page-enter, .page-leave-active {
  opacity: 0;
  // transform: translateY(150px);
}