// ========================================
// Colors
// ========================================
$black	: #000000;
$white 	: #FFFFFF;

$primary: #008CBA;

// ========================================
// Screen sizes
// ========================================
$mobile  :		480px;
$tablet  :		769px;
$desktop : 		1000px;
$fullhd  :		1384px;