// ========================================
// strucutre
// ========================================

body {
    background: $black;
    color: $white;
}

.contained {
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
}

.swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    margin: 0 4px;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid $white;
    box-sizing: border-box;
    &.swiper-pagination-bullet-active {
        background: $white;
    }
}

.bkg-blurs {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
    z-index: 0;
}

// resets for tweens
// .hero, .home-wrapper img, .home-wrapper h1, header, .services__grid-wrapper article, .services__grid-wrapper aside {
//     opacity: 0;
// } 