// ========================================
// strucutre
// ========================================

body {
    background: $black;
    color: $white;
}

.contained {
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
}

.swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    margin: 0 4px;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid $white;
    box-sizing: border-box;
    &.swiper-pagination-bullet-active {
        background: $white;
    }
}